body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

/* Header */

header {
    padding: 8px 32px;
    margin-bottom: 56px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.pos {
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header img {
    width: 240px;
}

.header-menu a {
    text-decoration: none;
    color: grey;
    font-weight: 650;
    padding: 8px;
}

.header-menu a:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

#nav {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.b_menu {
    display: none;
}



/* Section 1 */

.main-container {
    max-width: 1920px;
    margin: auto;
    padding: 0px 32px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}


.img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 8px;
}

.p-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

h1 {
    margin: 0px;
    margin-bottom: 16px;
    color: black;
}

.icons {
    display: flex;
    justify-content: start;
    gap: 32px;
    padding-bottom: 56px;
    padding-top: 50px;
}

.icon img {
    width: 16px;
    height: 16px;
}

.icon {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0px 12px;
    gap: 8px;
    border-radius: 8px;
    background-color: rgb(239, 239, 239);
}


/* Section 2 */

.input-div {
    max-width: 1920px;
    margin: auto;
    box-shadow: 0px -1.5px 0px rgb(239, 239, 239);
    padding-bottom: 40px;
}

.portions {
    padding: 0px 32px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.in {
    display: flex;
}

input {
    width: 160px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-style: solid;
    border-color: rgb(239, 239, 239);
}

#btn {
    width: 160px;
    padding: 8px;
    text-align: center;
    background-color: green;
    color: white;
    border: none;
}

#btn a {
    text-decoration: none;
}

#btn:hover {
    cursor: pointer;
}

table {
    width: 100%;
}

table td {
    border-radius: 8px;
    padding: 16px 40px;
}

.bgd1 {
    display: flex;
    gap: 4px;
    background-color: rgb(239, 239, 239);
}

.bgd2 {
    display: flex;
    gap: 4px;
}


/* Section 3 */

.icon2 img {
    width: 16px;
    height: 16px;
}

.icon2 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 28px;
    width: 132px;
    padding: 0px 12px;
    gap: 8px;
    border-radius: 8px;
    background-color: rgb(239, 239, 239);
}

#dauer {
    width: 150px;
}

/* Section 4 */

.last-div {
    max-width: 1920px;
    margin: auto;
    padding: 40px 32px;

}

h3 {
    margin-top: 0px;
}

.profile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
}

.profile img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile p {
    font-size: 20px;
}


/* Footer */

footer {
    padding: 19px 32px;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.2);
}

.pos2 {
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
}

.logo_small {
    display: none;
}

footer a {
    text-decoration: none;
    color: grey;
    font-weight: 650;
}

footer a:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}



/* ----------- Responsive ---------- */


@media (max-width: 760px) {

    /* Header */

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 32px;
    }

    .pos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu {
        position: absolute;
        top: 80px;
        background-color: white;
        border-radius: 8px;
        padding-bottom: 4px;
        border-color: green;
        box-shadow: 0px 0px 2px 1px green;
        display: none;
    }

    .header-menu a {
        display: flex;
        flex-direction: column;
    }

    .b_menu {
        display: unset;
        cursor: pointer;
        width: 44px;
        height: 40px;
        background: green;
        display: block;
        border-radius: 4px;
    }

    .lines {
        width: 20px;
        height: 2px;
        margin: 8px 12px;
        border-radius: 1px;
        background-color: white;
    }


    /* Section 1 */

    .main-container {
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }

    .text {
        width: unset;
    }

    .icons {
        padding-bottom: 40px;
    }
}



@media (max-width: 508px) {


    /* Section 1 */

    .main-container {
        align-items: center;
        margin: 0px 0px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;

    }

    .icon {
        justify-content: center;
    }


    /* Section 2 */

    .input-div {
        margin: 20px 32px 0px;
    }

    .portions {
        justify-content: center;
    }

    .in {
        display: flex;
        flex-direction: column;
        padding: 16px 0px;
    }

    input {
        width: 112px;
        height: 28px;
        border-radius: 8px;
        margin-bottom: 8px;
        border-style: solid;
        border-color: rgb(239, 239, 239);
    }

    .btn {
        width: 120px;
        padding: 8px;
        text-align: center;
        background-color: green;
        color: white;
        border: none;
    }

    .bgd1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bgd2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table td {
        border-radius: 8px;
        padding: 0px 0px;
    }



    /* Section 3 */

    .zub {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .zub p {
        text-align: center;
    }


    /* Section 4 */

    .last-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 32px 32px;
    }

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }


    /* Footer */

    .logo {
        display: none;
    }

    .logo_small {
        display: unset;
        width: 36px;
    }

}

@media (max-width: 412px) {

    /* Header */

    header {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    header img {
        width: 180px;
    }
}
